body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bbe773;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: YetBumbler;
  src: local("YetBumbler"), url(../assets/fonts/YetBumbler.ttf);
}

@font-face {
  font-family: PixelTactical;
  src: local("PixelTactical"), url(../assets/fonts/PixelTactical.otf);
}

@font-face {
  font-family: Thirtysix;
  src: local("Thirtysix"), url(../assets/fonts/Thirtysix.ttf);
}

@font-face {
  font-family: Tricks-Italic;
  src: local("Tricks-Italic"), url(../assets/fonts/Tricks-Italic.ttf);
}

@font-face {
  font-family: TricksHollow-Italic;
  src: local("TricksHollow-Italic"),
    url(../assets/fonts/TricksHollow-Italic.ttf);
}

h1 {
  font-family: "Thirtysix", sans-serif;
  color: white;
  font-size: 20px;
}

.profile-box {
  width: 160px;
  height: 45px;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: 20px;
  background: black;
  opacity: 0.4;
  border: 5px solid #ff9429;
  border-top: 0px;
  box-shadow: 10px 10px #000000;
}

.title {
  display: block;
  color: rgb(0, 0, 0);
  content: "NERF.IO";
  font-size: 48pt;
  font-family: TricksHollow-Italic;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 245px;
  height: 65px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: 0;

  animation: tilt 5s forwards linear infinite;
  -webkit-animation: tilt 5s forwards linear infinite;

  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.title span::after {
  font-size: 48pt;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 245px;
  height: 65px;
  content: "burf.io";
  font-family: Tricks-Italic;
  display: block;

  background: url("../assets/web/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  animation: aitf 2.5s reverse forwards linear infinite;
  -webkit-animation: aitf 2.5s reverse forwards linear infinite;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.form {
  content: "";
  z-index: 0;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #25c3ff;
  border: 5px solid black;
  box-shadow: 10px 10px #0000005b;
  width: 420px;
  height: 420px;
}

.form::after {
  content: "";
  z-index: 1;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ff9429;
  border-right: 5px solid black;
  border-left: 5px solid black;
  width: 420px;
  height: 210px;
}

input {
  font-family: "Tricks-Italic", sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.3em;
  height: 1.6em;
  margin: 0;
  padding: 0;
  width: 60%;
  background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}
input:focus {
  border-bottom: 3px solid #86ffe7;
}
input::-webkit-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::-moz-placeholder {
  opacity: 0.4;
  color: white;
}
input:-ms-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::-ms-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::placeholder {
  opacity: 0.4;
  color: white;
}

.play-btn {
}

@keyframes tilt {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  25% {
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  75% {
    transform: rotate(10deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@-webkit-keyframes tilt {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  25% {
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  75% {
    transform: rotate(10deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@keyframes aitf {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 80% 50%;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 80% 50%;
  }
}
