body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bbe773;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Larceny;
  src: local("Larceny"), url(../assets/fonts/Larceny.ttf);
}

@font-face {
  font-family: Thirtysix;
  src: local("Thirtysix"), url(../assets/fonts/Thirtysix.ttf);
}

@font-face {
  font-family: Tricks-Italic;
  src: local("Tricks-Italic"), url(../assets/fonts/Tricks-Italic.ttf);
}

@font-face {
  font-family: TricksHollow-Italic;
  src: local("TricksHollow-Italic"),
    url(../assets/fonts/TricksHollow-Italic.ttf);
}

h1 {
  font-family: "Thirtysix", sans-serif;
  color: white;
  font-size: 20px;
}

.title {
  color: rgb(0, 0, 0);
  display: block;
  content: "NERF.IO";
  font-size: 48pt;
  font-family: TricksHollow-Italic;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title span::after {
  font-size: 48pt;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "burf.io";
  font-family: Tricks-Italic;
  display: block;

  background: url("../assets/web/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  animation: aitf 3s linear infinite;
  animation-fill-mode: both;
  animation-direction: reverse;
  -webkit-animation: aitf 3s linear infinite;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.form {
  content: "";
  z-index: 0;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #25c3ff;
  border: 5px solid black;
  box-shadow: 10px 10px #0000005b;
  width: 420px;
  height: 420px;
}

.form::after {
  content: "";
  z-index: 1;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ff9429;
  border-right: 5px solid black;
  border-left: 5px solid black;
  width: 420px;
  height: 210px;
}

input {
  font-family: "BluebirdRegular", sans-serif;
  font-size: 16pt;
  color: white;
  line-height: 1.3em;
  height: 1.6em;
  margin: 0;
  padding: 0;
  width: 60%;
  background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}
input:focus {
  border-bottom: 3px solid #86ffe7;
}
input::-webkit-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::-moz-placeholder {
  opacity: 0.4;
  color: white;
}
input:-ms-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::-ms-input-placeholder {
  opacity: 0.4;
  color: white;
}
input::placeholder {
  opacity: 0.4;
  color: white;
}

.play-btn {
}

@keyframes tilt {
  0% {
    background-position: -100% 50%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
@keyframes aitf {
  0% {
    background-position: -100% 50%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: -100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
